/* Here we go. Deep breath Repo Man!. */
body {

}

.jumbotron {
    background-image: url("../images/geode.jpg")

}

.jumbotron h1 {
    font-family: 'Satisfy', cursive;
    font-size: 64px;
    color: white;
    padding: 0px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }  

  #scoreboard {
    margin-top: 20px;
  }

  .rules-box {
    margin-top: 20px;
  }

.btn-primary {
  background-color: rgb(105,68,128);
  border-color: rgb(105,68,128)
  
}